#contenidoHome,
#menu,
#submenuImg,
#pieHome,
#logo-desktop,
#mapa-desktop {
	display: none;
}

#menu-mobile,
#logo-mobile,
#header-mobile,
#mapa-mobile {
	display: block;
}

.peope {
    background: none;
    margin: 0px;
    padding: 0px;
}

body {
	height: 400px;
	overflow: hidden;
}

#logoInt {
    background-position: 0 -114px;
    background-repeat: repeat-x;
}

#logo-mobile {
	padding-top: 15px;
	margin: 0 auto;
}

#contenedor {
	width: 100%;
}

#menu-mobile {
	width: 80%;
	margin: 10%;
}

.menu-mobile-item,
.submenu-mobile-item {
	background-repeat: repeat-x;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: white;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.menu-mobile-item {
	background: url("../images/bot-menu-mobile.jpg");
}

.submenu-mobile-item {
	background: #666;
}

.menu-mobile-item a,
.menu-mobile-item a:link,
.menu-mobile-item a:active,
.menu-mobile-item a:visited,
.menu-mobile-item a:hover,
.submenu-mobile-item a,
.submenu-mobile-item a:link,
.submenu-mobile-item a:active,
.submenu-mobile-item a:visited,
.submenu-mobile-item a:hover {
	text-decoration: none;
	color: white;
	font-family: Myriad, helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	font-style: bold;
	padding-left: 35%;
    padding-right: 35%;
    padding-top: 7px;
    padding-bottom: 5px;
}

.sinLogo #logoInt {
	display: none;
}

#header-mobile {
	position: relative;
}

.header-mobile-texto-container {
	width: 80%;
	margin: 0 auto;
	height: 70px;
	display: flex;
}

.header-mobile-izq {
	background-image: url(../images/botMobileIzquierda.jpg);
	background-repeat: no-repeat;
	height: 70px;
	width: 27px;
	display: table-cell;
	float:left;
}

.header-mobile-centro {
	background-image: url(../images/botMobileCentro.jpg);
	background-repeat: repeat-x;
	height: 70px;
	width: 100%;
	display: table-cell;
	float:left;
	text-align: left;
	color: white;
	font-family: Myriad,helvetica,verdana,arial,sans-serif;
	font-size: 22px;
	padding-top: 13px;
	padding-left: 13px;
}

.header-mobile-der {
	background-image: url(../images/botMobileDerecha.jpg);
	background-repeat: no-repeat;
	height: 70px;
	width: 27px;
	display: table-cell;
	float:left;
}

.header-mobile-close {
	width: 8%;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
	font-size: 25px;
	padding-right: 3%;
}

.header-mobile-close a,
.header-mobile-close a:visited,
.header-mobile-close a:link,
.header-mobile-close a:active,
.header-mobile-close a:hover {
	color: black;
	font-style: normal;
	font-weight: normal;
}

.contenido-empresa .imagen img {
	width: 100%;
	height: auto;
}

.contenido-empresa .texto {
	padding: 5%;
	height: 120px;
	overflow-y: scroll; 
}

.galeria {
	padding: 5%;
	width: 90%;
}

.galeria-item {
	height: 130px;
	width: 110px;
	margin-right: 10px;
} 

.galeria-item-img {
	height: 110px;
}

#header-contacto {
	display: none;
}

#formularioUbicacion {
    float: none;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

#formularioUbicacion form {
    margin: 0;
    width: 100%;
}

#formularioUbicacion input,
#formularioUbicacion textarea {
	width: 95%;
}

#formularioUbicacion input#submit {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

body#contacto {
	height: 530px;
}

#contacto #pieHome {
	display: block;
	float: right;
	margin-top: 10px;
}

#contacto #pieHome .pieIzq {
	display: none;
}

#contacto .spacer {
	display: none;
}

.mensaje-mail {
	width: 80%;
	margin: 0 auto;
	font-family: Myriad, helvetica, verdana, arial, sans-serif;
	font-size: 16px;
	font-style: bold;
	padding-top: 20px;
}

#google {
    float: none;
    height: 200px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}